html {
    background: gainsboro;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    padding: 50px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

nav ul li {
    display: inline;
    margin: 5px; 
}

.links {
    padding-left: 25px;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
    transition: 1s;
}

nav a:hover {
    border-radius: 5%;
    background-color: gainsboro;
}

main a {
    border-radius: 5%;
    background-color: gainsboro;
}

.my-photo {
    float: right; 
    padding: 10px 20px 0 50px;
    border-radius: 50%;
}

li {
    list-style-type: none;
   }

.links, section {
    border-left: 5px solid gainsboro;
}

section {
    padding-left: 20px;
}



